<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:log4j="http://jakarta.apache.org/log4j">

	<Appender>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p: %c - \m\n" />
		</Console>
	</Appender>

	<Loggers>
		<Logger name="org.springframework" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
	</Loggers>
</Configuration>